<div class="global-bg"></div>
<div *ngIf="initialized">
  <div class="layout">
    <button *ngIf="showHeaderAndHeader" class="sidebar-toggle" (click)="toggleSidebar()">☰</button>
    <div class="layout" [ngClass]="{ 'sidebar-open': isSidebarOpen }"></div>
    <app-sidebar *ngIf="showHeaderAndHeader" [isOpen]="isSidebarOpen" (menuClicked)="toggleSidebar()"></app-sidebar>
    <div class="overlay" *ngIf="isSidebarOpen" (click)="toggleSidebar()"></div>
    <div class="main-content">
      <app-navbar *ngIf="showHeaderAndHeader"></app-navbar>
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
