@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-v48-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
}

.global-bg {
  position: fixed;
  inset: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: #121313;
  pointer-events: none;
}

.global-bg::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background-image: url("/assets/fond image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.2;
  pointer-events: none;
}
